click
cryptography
fastapi
langchain
langchain_community
langchain_core
langchain_text_splitters
permit
pinecone
protobuf
pydantic
pymongo
python-dotenv
requests
simplejson
streamlit
uvicorn
watchdog
PyMuPDF
unstructured
markdown
google-generativeai