click==8.1.7
cryptography==41.0.3
fastapi==0.115.12
langchain==0.3.25
langchain_community==0.3.23
langchain_core==0.3.58
langchain_text_splitters==0.3.8
permit==2.7.5
pinecone==6.0.2
protobuf==6.30.2
pydantic==2.11.4
pymongo==3.11.0
python-dotenv==1.1.0
requests==2.32.3
simplejson==3.19.2
streamlit==1.45.0
uvicorn==0.34.2
watchdog==3.0.0
